body {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

p {
  margin: 0;
}

.site-header {
  padding-top: 46px;
  margin-bottom: 17px;
}

.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.change-logo-image {
  display: flex;
}

.link-text:hover {
  color: #f26522;
}

.logo-image {
  width: 53px;
  height: 47px;
  margin-right: 8px;
}

.change-logo-image .logo-image:nth-of-type(2) {
  display: none;
}

.change-logo-image:hover .logo-image:nth-of-type(1) {
  display: none;
}

.change-logo-image:hover .logo-image:nth-of-type(2) {
  display: block;
}

.change-logo-image:hover .logo-text {
  color: #f26522;
}

.logo-text {
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.logo-text-holidays {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactbox {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.contactbox-item {
  display: flex;
  justify-content: flex-end;
}

.link-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.tours {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 37px;
}

.tours-item {
  position: relative;
  width: 300px;
}

.tour-link-item:hover .tour-description {
  transform: translateY(0);
  opacity: 1;
}

.tour-link-item:hover .tour-item-text {
  color: #f26522;
}

.tour-overlay {
  position: relative;
  overflow: hidden;
  border: 4px solid;
  border-image: linear-gradient(to right top, black, white);
  border-image-slice: 1;
}

.tour-image {
  width: 300px;
  height: 220px;
  display: block;
}

.tour-description {
  background-color: #f26522;
  padding: 7px 14px 10px 16px;
  position: absolute;
  top: 159px;
  right: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(101%);
  transition: 0.5s;
  opacity: 1;
}
.text-description {
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1;
}

.text-from {
  font-size: 10px;
}

.box-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.text-price {
  font-size: 20px;
}

.text-details {
  font-size: 14px;
}

.text-details::after {
  content: ">";
  margin-left: 16px;
}

.tour-item-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
}

.site-footer {
  padding-top: 48px;
  padding-bottom: 15px;
}

.footer-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}
